<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>
    <h1>Edit <%= blog.name %></h1>
        <form action="/blog/<%= blog._id %>?_method=PUT" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= blog.name %>" />

            <label for="aboutMe">About Me</label>
            <textarea name="aboutMe" id="aboutMe"><%= blog.aboutMe %></textarea>

            <label for="image">Image URL</label>
            <input type="url" name="image" value="<%= blog.image %>"/>

            <button type="submit">Update Blog</button>
        </form>
    <a href="/blog/">Back to Blogs</a>
</body>
</html>